.video_container{
    background: #F7FBFC;
    width: 374px;
    height: 264px;
    padding: 5px 5px;

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    
}

.card {
    display: inline-block;
    padding: 6px;
}