.header{
    width: 375px;
    height: 100px;

    background: #d0deee;
    box-shadow: 0px 1px 0px #E0EEF2;
}

.header_name {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    /* identical to box height */

    padding: 40px 0px;
    text-align: center;
    
    

    color: #000000;
}